* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  border: none !important;
  outline: none !important;
}

body {
  background: linear-gradient(135deg, #1b120d 0%, #2d1d16 35%, #593a28 100%);
  min-height: 100vh;
  overflow-x: hidden;
}
